
/Consolidado.md
/Consolidado-CV-Auto.md
.env
/PerfilAutomaçãoChrome/
/.venv/
/venv/
__pycache__/estatisticas.cpython-314.pyc

__pycache__/configuracoes.cpython-314.pyc
.gitignore
ScriptsParaCadaDomínio/__pycache__/linkedin.cpython-314.pyc
.gitignore
__pycache__/interface_humana.cpython-314.pyc

**/__pycache__/
*.pyc
